{% extends 'diary/base.html' %}

{% block content %}
<div class="container">
<form class="form-group" method="POST" action="{% url 'add' %}"  >
{% csrf_token %}
<input type="text" class="form-control" placeholder="Title" style="margin-top:10px;"  name="title" >
<div class="form-group">
<textarea class="form-control" palceholder="What's on your mind..." style="margin-top:10px;" name="content" >
</textarea>
</div>
<div>
<button type="submit" class="btn btn-primary float-right">
Add Entry
</button>
</form>
</div>
</div>
{% endblock %}