{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<dev >
    <dev class="row d-flex justify-content-center">
    <dev class="login-box" >
        <dev class="col-md-4 col-sx-12 col-xs-12"></dev>
        <dev class="col-md-4 col-sx-12 col-xs-12">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{form | crispy }}
                </fieldset>
                <dev class="form-group">
                    <button class="btn btn-dark btn-fluid" type="submit">Reset Password</button>
                </dev>
            </form>
        </dev>
    </dev>
</dev>
<dev class="col-md-4 col-sx-12 col-xs-12"></dev>
</dev>
{% endblock content %}