{% extends "users/base.html" %}
{% block content %}
<dev class="content-center">
    <div class="text-center" style="width:100%;height:75px; corner-radius:25px;color:black;"><h3>Check your email</h3>
    </div>
    <div class="container" style="width:100%;height:75px; corner-radius:25px;color:black;">
    <p>
        We've sent an email to your mail ID. Click the link in the email to Activate your account.
        If you don't see the email, check other places it might be, like your junk, spam, social, or other
        folders.
    </p>
    </div>
</dev>
{% endblock content %}